<nav class="navbar navbar-expand-lg bg-light">
  <div class="container">
    <a href="{{ '/' | relative_url }}" style="margin-right: 30px">
      <img src="{{ 'assets/img/logo-header.png' | absolute_url }}" style="max-height: 40px;">
    </a>

    <h1><a href="{{ '/' | relative_url }}">Sanguine Spirits</a></h1>

    {%- comment -%}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav me-auto">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" href="#">Cocktails</a>
        <a class="nav-link" href="#">Ingredients</a>
      </div>
    </div>
    {%- endcomment -%}

    <div class="ms-auto">
      <a href="{{ site.github }}" target="_blank" rel="noopener noreferrer" class="github-link" title="Github">
        <i class="fab fa-github fa-lg fa-2x"></i>
      </a>
    </div>
  </div>
</nav>
