<nav class="navbar navbar-expand-lg bg-light">
  <div class="container">
    <a href="{{ '/' | relative_url }}">
      <img src="{{ 'assets/img/logo-header.png' | absolute_url }}" style="max-height: 40px;">
    </a>

    <h1>Sanguine Spirits</h1>

    {%- comment -%}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav me-auto">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" href="#">Cocktails</a>
        <a class="nav-link" href="#">Ingredients</a>
      </div>
    </div>
    {%- endcomment -%}
  </div>
</nav>
