@charset "utf-8";

@import "fonts";

// Fonts:
// Titles: Playfair Display & Black Rose
// Headings: Abril Fatface
// Body: Lora

body {
  font-family: Lora;
}

h1 {
  font-family: "Abril Fatface";
}

h2, h3, h4, h5 {
  font-family: "Playfair Display";
}

nav {
  h1 a {
    font-family: "Black Rose", serif;
    color: #8B0000;
    text-decoration: none;
  }
}

.select2 {
  .select2-selection__choice__display {
    color: black !important;
  }
}
