---
layout: default
---

<div class="container-fluid p-0">
  <div class="position-relative overflow-hidden text-center bg-dark">
    <img
      src="{{ 'assets/img/jumbotron.png' | relative_url }}"
      class="img-fluid w-100" alt="The cocktail prep table" style="height: 400px; object-fit: cover;">
    <div class="position-absolute top-50 start-50 translate-middle text-white col-11 col-sm-10 col-md-7 col-lg-6 col-xl-5">
      <div class="bg-dark bg-opacity-75 p-4 rounded-3">
        <h1 class="display-4 fw-bold mb-3">Cocktail Recipes</h1>
        <p class="lead mb-4">It's Sangu-Rita Hour!</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
          <select id="ingredient-filter" multiple="multiple" style="width: 100%"></select>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container my-5">
  <div class="row g-4">
    <div id="no-results-message" style="display: none" class="alert alert-warning text-center" role="alert">
      Oh noes we have no cocktails matching those criteria.
    </div>

    {%- for cocktail in site.data.cocktails -%}
    <div class="col-lg-4 col-md-6" data-cocktail="{{ cocktail.name }}">
      {%- include card.html cocktail=cocktail -%}
    </div>
    {%- endfor -%}
  </div>
</div>
