---
layout: default
---

<div class="container-fluid p-0">
  <div class="position-relative overflow-hidden text-center bg-dark">
    <img
      src="{{ 'assets/img/jumbotron.png' | relative_url }}"
      class="img-fluid w-100" alt="The cocktail prep table" style="height: 400px; object-fit: cover;">
    <div class="position-absolute top-50 start-50 translate-middle text-white">
      <div class="bg-dark bg-opacity-75 p-4 rounded-3">
        <h1 class="display-4 fw-bold mb-3">Cocktail Recipes</h1>
        <p class="lead mb-4"></p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
          Search for cocktail recipes.
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container my-5">
  <div class="row g-4">
    {%- for cocktail in site.data.cocktails -%}
    <div class="col-lg-4 col-md-6">
      {%- include card.html cocktail=cocktail -%}
    </div>
    {%- endfor -%}
  </div>
</div>
